
body{
font-family:Arial;
direction:rtl;
margin:0;
background:#f5f5f5
}
header{
background:#0a2540;
color:#fff;
padding:15px
}
nav a{
color:#fff;
margin:8px;
text-decoration:none
}
section{
padding:20px
}
footer{
background:#ddd;
text-align:center;
padding:10px
}
